* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 0, 255);
    overflow: hidden;
}



/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



.overlay {
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: opacity 0.5s ease;
}

.overlay button {
    display: inline-block;
    width: 200px;
    font-family: Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    line-height: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0 0;
    cursor: pointer;
}

.overlay button:hover {
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}

.overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.overlay .play {
    font-size: 1.5rem;
    padding: 1.2em 1.2em;
    cursor: pointer;
}

.overlay .close {
    font-size: 1.5rem;
    padding: 1.2em 1.2em;
    cursor: pointer;
}



/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



.main {
    padding: 50px;
    max-width: 2000px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}

.top h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 10em;
}

.action {
    display: flex;
    flex-direction: column;
}

.timer {
    font-family: Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-align: right;
}

.top_buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.shuffle {
    font-family: Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
}

.shuffle:hover {
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}



/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



.shuffle-overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: progress;
    pointer-events: none;
    transition: opacity 0.8s ease;
    z-index: 3;
}

.shuffle-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.shuffle-box {
    font-family: Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1em;
    /*font-size: 2em;*/
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 60px;
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0;
    background: rgb(255, 255, 255);
    padding: 20px 30px 20px 30px;
}

.loader {
    width: 160px;
    height: 5px;
    background: rgb(255, 255, 255);
    margin: 10px 10px 0px 10px;
    overflow: hidden;
}

.loader-bar {
    width: 0%;
    height: 100%;
    background: rgb(0, 0, 255);
    animation: load-once 3s linear forwards;
}

@keyframes load-once {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}



/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



.pause {
    font-family: Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
}

.pause:hover {
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}



/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



/*.shuffle {
    font-family: Verdana, sans-serif;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
}

.shuffle:hover {
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}

.pause {
    font-family: Verdana, sans-serif;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
}

.pause:hover {
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}

.title {
    position: fixed;
    margin: 0;
    line-height: 0.65;
    font-family: Verdana, sans-serif;
    font-size: 189pt;
    color: rgb(255, 255, 255);
    pointer-events: none;
    transform: translateX(-0.1em); 
    z-index: 0;
}

.flip-wrapper {
    display: inline-block;
    pointer-events: auto; 
}

.title-flip {
    display: inline-block;
    transition: transform 0.4s ease;
    transform-origin: center;
}

.flip-wrapper:hover .title-flip {
    transform: rotate(180deg) translateY(-0.06em);
    cursor: default; 
}*/



/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



.game {
    max-width: 2000px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    /*grid-template-rows: repeat(4, 1fr);*/
    gap: 15px;
    max-width: 2000px;
}

.card {
    position: relative;
    aspect-ratio: 1 / 1;
    /*max-width: 150px;
    height: auto;*/
    border-radius: 15px;
    /*border: 2px solid rgb(0, 0, 0);*/
    border: 3px solid rgb(0, 0, 0);
    background-image: url(images/260207_card_back_02.png);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    object-fit: contain;
    display: block;
    border-radius: 15px;
}

.card:hover {
    background-image: url(images/260207_card_back_hover_02.png);
    box-shadow: rgb(0, 0, 0) 5px 5px 0 0;
}

.card summary {
    position: absolute;
    list-style: none;
    inset: 0;
}

.card summary::after {
    display: none;
    background-color: white;
}

.card[open] summary {
    display: none;
    background-color: rgb(255, 255, 255);
}  

.card.matched {
  opacity: 0.5;          
  filter: grayscale(40%); 
  pointer-events: none;   
  transition: opacity 0.6s ease, filter 0.6s ease;
}



/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

.footer p {
    font-family: Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1em;
}



/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



@media (max-width: 1350px) {

    .top {
    margin-bottom: 40px;
    align-items: flex-end;
    /*border: 2px solid red;*/
}

.action {
    display: flex;
    flex-direction: row;
}

    .top h1 {
    font-size: 5em;
}

.timer {
    /*font-size: 2em;*/
    font-size: 3em;
    margin-right: 25px;
}

}